In [280]:
import pandas as pd

In [282]:
url='https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
shark_df = pd.read_excel(url)

In [283]:
shark_df.rename(columns={"Fatal Y/N": "Fatal"}, inplace=True)

In [284]:
# Dropping unnecessary columns
shark_df.drop(['Unnamed: 22', 'Unnamed: 21', 'original order', 'Case Number.1', 'href', 'href formula', 'pdf', 'Case Number'], axis=1, inplace=True)

In [285]:
shark_df.rename(columns={"Species ": "Species"}, inplace = True)

In [286]:
shark_df = shark_df.dropna(how='all')

In [433]:
species_df = shark_df.dropna(subset=['Species'])

In [289]:
def map_species(value):
        if 'white' in value.lower():
            return 'white'
        elif 'tiger' in value.lower():
            return 'tiger'
        elif 'bull' in value.lower():
            return 'bull'
        else:
            return 'none'

In [290]:
species_df['Species'] = species_df['Species'].apply(map_species)

In [422]:
species_df.reset_index()

,index,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal,Time,Species,Source
0,0,2025-01-11 00:00:00,2025.0,Provoked,USA,Hawaii,Off Haleiwa Boat Harbour Oahu,Diving,Male not stated was a dive tour worker,M,23,Bitten on the arm,N,1340hrs,none,Kevin McMurray Trackingsharks.com
1,1,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,Severe arm injury and delay in medical treatme...,Y,1615hr,tiger,Johannes Marchand Todd Smith
2,2,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,Body not recovered,Y,1710hr,white,Glen Folkard: Simon De Marchi News.com.au: The...
3,3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,Injuries to stomach preventing attack on friend,N,?,tiger,Todd Smith : Kevin McMurray Trackingsharks .co...
4,4,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,Entire calf muscle removed and bitten both arm...,Y,?,tiger,Todd Smith : Kevin McMurray Trackingsharks .co...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,6964,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,16,FATAL,Y,NaN,tiger,Mitchell-Hedges
3854,6981,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,"FATAL, knocked overboard by tail of shark & ca...",Y,NaN,none,"NY Sun, 9/9/1906, referring to account by Loui..."
3855,6982,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,none,"NY Sun, 9/9/1906, referring to account by Loui..."
3856,6983,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,FATAL,Y,NaN,none,"NY Sun, 9/9/1906, referring to account by Loui..."
3857,6984,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,FATAL,Y,NaN,none,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."

In [424]:
fatal_filter = species_df[(species_df['Species'] != 'none') & (species_df['Fatal'] == 'Y')]

In [426]:
fatal_attacks = fatal_filter.groupby("Species") ["Fatal"].count()

In [428]:
fatal_attacks

Species
bull      40
tiger     84
white    173
Name: Fatal, dtype: int64

In [430]:
fatal_attacks.sum()

297

In [408]:
total_filter = species_df[(species_df["Species"] != "none")]

In [410]:
total_attacks = total_filter.groupby("Species") ["Fatal"].count()

In [418]:
total_attacks

Species
bull     221
tiger    335
white    735
Name: Fatal, dtype: int64

In [416]:
total_attacks.sum()

1291