In [1]:
import pandas as pd

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)

In [3]:
url='https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'

In [19]:
shark_df=pd.read_excel(url)

In [20]:
print(shark_df)

                     Date    Year        Type             Country  \
0     2025-01-02 00:00:00  2025.0  Unprovoked       New Caledonia
1     2025-01-02 00:00:00  2025.0  Unprovoked           Australia
2     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
3     2024-12-29 00:00:00  2024.0  Unprovoked               Egypt
4     2024-12-28 00:00:00  2024.0  Unprovoked           Australia
...                   ...     ...         ...                 ...
6984          Before 1903     0.0  Unprovoked           AUSTRALIA
6985          Before 1903     0.0  Unprovoked           AUSTRALIA
6986            1900-1905     0.0  Unprovoked                 USA
6987            1883-1889     0.0  Unprovoked              PANAMA
6988            1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                    State                                 Location  \
0            Grande Terre              Islet of Kendek near Koumac
1         South Australia  Granites Beach near Westall Streaky Bay
2     North of Marsa Alam                                  Red Sea
3     North of Marsa Alam                                  Red Sea
4              Queensland         Humpy Island Great Keppel Island
...                   ...                                      ...
6984    Western Australia                              Roebuck Bay
6985    Western Australia                                      NaN
6986       North Carolina                           Ocracoke Inlet
6987                  NaN                     Panama Bay 8ºN, 79ºW
6988     Eastern Province      Below the English fort, Trincomalee

          Activity                   Name Sex  Age  ...  \
0     Spearfishing       Robert Cuewapuru   M   40  ...
1          Surfing          Lance Appleby   M   28  ...
2     SCUBA Diving        Peppino Fappani   M   69  ...
3     SCUBA Diving      Gianluca Di Gioia   M   48  ...
4     Spearfishing           Luke Walford   M   40  ...
...            ...                    ...  ..  ...  ...
6984        Diving                   male   M  NaN  ...
6985  Pearl diving                  Ahmun   M  NaN  ...
6986      Swimming  Coast Guard personnel   M  NaN  ...
6987           NaN        Jules Patterson   M  NaN  ...
6988      Swimming                   male   M   15  ...

                                    Species   \
0             Reportedly Tiger or Bull shark
1     Great White Shart estimated 4.8m 16 ft
2                   Reportedly a Tiger Shark
3                   Reportedly a Tiger Shark
4                                   Unknown
...                                      ...
6984                                     NaN
6985                                     NaN
6986                                     NaN
6987                                     NaN
6988                                     NaN

                                                 Source  \
0                         Johannes Marchand Todd Smith
1     Glen Folkard: Simon De Marchi News.com.au: The...
2     Todd Smith : Kevin McMurray Trackingsharks .co...
3     Todd Smith : Kevin McMurray Trackingsharks .co...
4     Todd Smith Glen Folkard ABC News: The North We...
...                                                 ...
6984                   H. Taunton; N. Bartlett,  p. 234
6985              H. Taunton; N. Bartlett,  pp. 233-234
6986               F. Schwartz, p.23; C. Creswell, GSAF
6987                                The Sun, 10/20/1938
6988                                         S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
6984          ND-0005-RoebuckBay.pdf
6985               ND-0004-Ahmun.pdf
6986  ND-0003-Ocracoke_1900-1905.pdf
6987      ND-0002-JulesPatterson.pdf
6988              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6984  http://sharkattackfile.net/spreadsheets/pdf_di...
6985  http://sharkattackfile.net/spreadsheets/pdf_di...
6986  http://sharkattackfile.net/spreadsheets/pdf_di...
6987  http://sharkattackfile.net/spreadsheets/pdf_di...
6988  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
6984  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
6985  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
6986  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
6987  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
6988  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
6984       ND.0005            6.0         NaN         NaN
6985       ND.0004            5.0         NaN         NaN
6986       ND.0003            4.0         NaN         NaN
6987       ND.0002            3.0         NaN         NaN
6988       ND.0001            2.0         NaN         NaN

[6989 rows x 23 columns]

In [21]:
shark_df.rename(columns={"Fatal Y/N": "Fatal"}, inplace=True)

In [22]:
shark_df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-01-02 00:00:00,2025.0,Unprovoked,New Caledonia,Grande Terre,Islet of Kendek near Koumac,Spearfishing,Robert Cuewapuru,M,40,...,Reportedly Tiger or Bull shark,Johannes Marchand Todd Smith,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-01-02 00:00:00,2025.0,Unprovoked,Australia,South Australia,Granites Beach near Westall Streaky Bay,Surfing,Lance Appleby,M,28,...,Great White Shart estimated 4.8m 16 ft,Glen Folkard: Simon De Marchi News.com.au: The...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Peppino Fappani,M,69,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-12-29 00:00:00,2024.0,Unprovoked,Egypt,North of Marsa Alam,Red Sea,SCUBA Diving,Gianluca Di Gioia,M,48,...,Reportedly a Tiger Shark,Todd Smith : Kevin McMurray Trackingsharks .co...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-12-28 00:00:00,2024.0,Unprovoked,Australia,Queensland,Humpy Island Great Keppel Island,Spearfishing,Luke Walford,M,40,...,Unknown,Todd Smith Glen Folkard ABC News: The North We...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6984,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6985,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6986,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6987,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6988,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [23]:
import re # Import ReGex module

In [24]:
shark_df.nunique()

Date              6037
Year               261
Type                12
Country            239
State              920
Location          4550
Activity          1598
Name              5723
Sex                  8
Age                246
Injury            4118
Fatal               12
Time               431
Species           1706
Source            5344
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [25]:
shark_df["Type"].unique()

array(['Unprovoked', ' Provoked', 'Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

In [29]:
# Changing Column "Type" entries: Provoked (2 --> 1) & Questionable (2 --> 1) & Unverified =
shark_df["Type"]=shark_df["Type"].apply(lambda t: "Provoked" if t==" Provoked" else "Questionable" if t=="?" else  t)

In [42]:
# Changing Column "Type" entries: Unverified = Unconfirmed, Invalid, Under investigation, Questionable & Watercraft = Boat
shark_df["Type"]=shark_df["Type"].apply(lambda t: "Watercraft" if t=="Boat" else "Unverified" if t=="Unconfirmed" else "Unverified" if t=="Invalid" else "Unverified" if t=="Under investigation" else "Unverified" if t=="Questionable" else t)

In [43]:
shark_df["Type"].unique()

array(['Unprovoked', 'Provoked', 'Unverified', 'Watercraft',
       'Sea Disaster', nan], dtype=object)

In [33]:
shark_df["Fatal"].unique()

array(['Y', 'N', 'F', 'M', nan, 'n', 'Nq', 'UNKNOWN', 2017, 'Y x 2', ' N',
       'N ', 'y'], dtype=object)

In [39]:
# Changing Column "Fatal" entries: unifying yes and no.
shark_df["Fatal"]=shark_df["Fatal"].apply(lambda f: "Y" if f=="F" else "N" if f=="n" else "N" if f==" N" else "N" if f=="N " else "N" if f=="Nq" else "Y" if f=="y" else "Y" if f=="Y x 2" else "N" if f=="M" else f)

In [40]:
shark_df["Fatal"].unique()

array(['Y', 'N', nan, 'UNKNOWN', 2017], dtype=object)

In [41]:
shark_df["Time"].unique()

array(['1615hr', '1710hr', '?', '1637hr', 'AM', '16.30hrs', '1600hr',
       '11.30hr', '1100hr', '1735hr', '11hr15', '16hr15', 'after 1200hr',
       '1400hr', 15.5, '13h15', '9h', 1300, '14h', '15h30', 'Not stated',
       '13h30', '9h15', 'Not advised', '13h40', '12h30', '16h00', nan,
       '11h30', '06h30', '20h00', '13h00', '11h12', '16h30', '15h00',
       '02h00', '09h15', 'Early Morning', '16h32', '11h00', 'Morning',
       '10h30', '13h20', '14h00', '09h00', '10h20', '15h05', '17h00',
       '15h45', '07h45', '10h40', '07h50', '01h00', '10h00', 'Afternoon',
       '19h30', 'Evening', '17h50', '09h30', '08h45', '"Midday"', '16h25',
       '13h55', '13h50', '17h20', '13h45', '10h10', '14h35', 'Night',
       '1500h ', '19h15', '11h20', '07h15', '07h00', '18h00', '08h00',
       '14h20', '17h30', '07h20', '14h50', '-16h30', '12h00', '17h17',
       '11h15', '19h00', '07h53', '16h10', '11h17', '17h45', '10jh45',
       'Early  morning', '13h12', '07h30', '11hoo', '11h43', '10h15',
       '14h09', '12h15', '19h12', '15h20', '16h40', '11h24', '12h50',
       '07h31', '14h45', '19h20', 'Dusk', '11h45', '06h40', '`17h00',
       '07h51', '11h46', '20h30', '12h23', '07h07', '16h39', '15h57',
       '14h30', '16h45', '10j30', '08h15', '08h56', '15h40', '18h30',
       '07h58', '17h40', '09h00-10h00', '17h10', '09h36', '08h40',
       '06h00', 'Sunset', '10h45', 1415, '14h00-15h00', '14h15', '09h08',
       '15h59', '08h30', '12h20', '10h50', 'Midday', '09h40', '14h33',
       '12h58', '"Evening"', '16h15', '23h00', '06h50', '12h45', '11h55',
       '22h20', '08h48', '16h21', '16h26', '18h45', '03h00', '06h15',
       'Before 10h00', '06h45', 'Early afternoon', '06h55', '13h42',
       '09h29', '10h47', '14h11', '15h35', '14h40', '14h00  -15h00',
       'Late afternoon', '16h50', '21h50', '17h35', '19h00, Dusk',
       '15h01', 1000, '23h30', '10h44', '13h19', 'Shortly before 12h00',
       '17h34', '08h50', '09h50', '9h00', '10h43', 'After noon', '15h15',
       '19h05', '14h30 / 15h30', '22h00', '16h20', '14h34', '15h25',
       '14h55', '17h46', 'Morning ', '15h49', 'Midnight', '09h30 / 10h00',
       '18h15', '04h00', '10h25', '10h45-11h15', '15h52', '19h45',
       '12h10', '18h05', '11h41', '12h25', '17h51', '16h12', '09h45',
       '05h00', '03h30', 'Sometime between 06h00 & 08hoo', '16h18',
       '11h10', '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20',
       '17h58', '15h19', '10h55', '15h55', '12h40', '16h05', '14h10',
       '13h24', '09h00 - 09h30', '0830', '11h40', '08h10', '15h56',
       'Just before noon', '07h56', '1600', '16h35', '09h05', '19h28',
       '12h38', '05h50', '15h50', '11h05', 'Early morning', 'Dawn',
       '05h45', '13h25', '13h26', '09h11', '18h20', '13h51', 'A.M.',
       '08h05', '10h35', '15h44', '21h00', 'Lunchtime', '15j45', '09h35',
       '10h27', '10h16', '0500', 'Before 07h00', '09h20',
       '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '20h15', '12h39', '07h05', '  ',
       '13h05', 'N', '11h50', 'Just before sundown', '17h55', '22h30',
       '17h15', '11h30 ', '06h10', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '>08h00', '--', '12h02', '12h55', '16h14',
       '17h11', '00h30', '14h37', '10h07', '13h53', '13h23',
       'Just after 12h00', '02h30', '11h56', ' ',
       'Shortly after midnight', '14h25', '13h345', '\xa0 ', '06h47',
       '09h00 -10h00', '20h45 (Sunset)', 'Late morning', 'P.M.', '18h40',
       '13h14', '13h06', 'Shortly before 13h00', '12h34', '11h53',
       '8:04 pm', '12h46', '12h48', '17h42', '12h35',
       'Possibly same incident as 2000.08.21', 'After Dusk', '11h57',
       'Noon', '11h25', '18h25', '10h28', '14h16', '09h55',
       '2 hours after Opperman', '09h30 ', 'Mid afternoon', 'Mid morning',
       '11h48', '11h00 / 11h30', '07h19', '13h37', '11h06', '"Night"',
       '18h30?', '11h58', '11h51', '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', 'Dark', '10h00 / 11h00',
       '"After lunch"', '07h32', '15h00 or 15h45', '>17h00',
       '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00', 'night',
       '03h45 - 04h00', '13h10', '09h30 / 15h30', '08h00 / 09h30',
       '19h35', '12h00 to 14h00', '13h35', 'Late night', '01h32',
       '10h30 or 13h30', '16h23', '15h00j', 'Midday.', '"After dark"',
       '10h00 or 14h00', '19h10', '2 hrs before sunset', '18h15 to 21h30',
       1500, '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)